Makefile
error1.imp
error2.imp
error3.imp
error4.imp
error5.imp
error6.imp
error7.imp
error8.imp
error9.imp
gramatyka.txt
interpreter
interpreter-cln.cc
interpreter.cc
labor4.zip
program0.imp
program0.mr
program1.imp
program1.mr
program2.imp

